/*
TABLE OF CONTENT
- Margins
- Background-color
- hr - underline
- Typography
- Forms
- Section & Footer
- Gen css
- Navigation
- Image layers
- Slider
- Owl
- Icon
- Diff
- Store
- Error fonts
*/

/* Margins */

.mb0 {
  margin-bottom: 0 !important;
}

.text-15, .text-15 li {
  font-size: 1.2rem !important;
}

@media all and (max-width: 767px) {
  p {
    font-size: 12px;
  }
}

.mb8 {
  margin-bottom: 8px;
}

.mb {
  margin-bottom: 10px;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mt48 {
  margin-top: 48px;
}

.mt-xs-0 {
  margin-top: 0 !important;
}

.mb-xs-16 {
  margin-bottom: 16px;
}

.mb64 {
  margin-bottom: 64px;
}

.mb-xs-24 {
  margin-bottom: 24px;
}

.overflow-hidden {
  overflow: hidden;
}

.text-left {
  text-align: left !important;
}

/* End of Margins */

/* Background-color */

.bg-gold {
  color: #ef7f1a;
}

.bg-blue {
  color: rgb(37, 186, 236);
}

.bg-secondary {
  background: #f8f8f8 !important;
}

/* End of Background-color */

/* hr - underline */

.hr {
  border: none;
  border-top: 1px solid #fff;
  margin: 0 0 24px 0;
  margin-right: 20%;
}

@media all and (max-width:766px) {
  .hr {
    margin-left: 20%;
  }
}

.underline {
  background-color: #1c2331;
  margin-top: -1%;
  margin-left: 40%;
  margin-right: 40%;
}

@media all and (max-width:766px) {
  hr {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* End of hr - underline */

/* Typography */

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3, h4 {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
  font-weight: 300;
  color: #292929;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1.large {
  font-size: 90px;
  line-height: 80px;
  font-weight: 300;
  color: #fff;
}

@media all and (max-width: 990px) {
  h1.large {
    font-size: 56px;
    line-height: 64px;
  }
}

@media all and (max-width:766px) {
  h1.large {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
  }
}

@media all and (max-width:766px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 18px;
    line-height: 26px;
  }
}

h2.uppercase {
  letter-spacing: 10px;
  margin-right: -10px;
}

h3.uppercase {
  letter-spacing: 6px;
  margin-right: -6px;
}

h4.uppercase {
  letter-spacing: 3px;
  margin-right: -3px;
}

/* End of Typography */

/* Forms */

.main-container {
  clear: both;
}

input, button, select, textarea {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"], button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bg-secondary input[type="text"], .bg-secondary textarea, .bg-secondary select {
  background: #fff;
}

input[type="text"] {
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;
}

input[type="text"]:focus {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  border: none;
  background: #f5f5f5;
  margin-bottom: 24px;
  border-radius: 0;
  padding: 16px 20px;
}

textarea:focus {
  border: 1px solid #ccc;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}

:-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}

::-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}

button[type="submit"] {
  height: 50px;
  line-height: 48px;
  border: 1px solid #1c2331;
  background: #1c2331;
  color: #fff;
  width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0 !important;
}

.bg-primary button[type="submit"] {
  background: #fff;
  color: #1c2331;
}

.but:hover {
  background-color: #fff;
  color: #1c2331;
}

button[type="submit"]:focus {
  border: none;
}

.select-option {
  position: relative;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  margin-bottom: 24px;
}

.select-option select {
  margin-bottom: 0;
}

select {
  height: 50px;
  background: #f5f5f5;
  width: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  padding-left: 20px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
}

select:focus {
  background: #eee;
}

select:active, select:focus, select:hover {
  outline: none;
  border: none;
}

.checkbox-option, .radio-option {
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #232f3e;
  cursor: pointer;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 24px;
}

.checkbox-option .inner, .radio-option .inner {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #232f3e;
  position: relative;
  top: 2px;
  left: 2px;
  display: inline-block;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.checkbox-option.checked .inner {
  transform: translate3d(25px, 0, 0);
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(25px, 0, 0);
  background: #232f3e;
}

.checkbox-option input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.radio-option {
  width: 25px;
  height: 25px;
  text-align: left;
}

.radio-option:nth-of-type(n+2) {
  margin-left: 24px;
}

.radio-option input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.radio-option .inner {
  border: none;
  width: 19px;
  height: 19px;
  left: 2px;
  transform: scale(0);
  -webkit-transform: scale(0);
}

.radio-option+span {
  display: inline-block;
  line-height: 25px;
}

.radio-option.checked .inner {
  transform: scale(1);
  -webkit-transform: scale(1);
}

.radio-option.checked .inner {
  background: #232f3e;
}

@media all and (min-width: 991px) {
  input.col-md-6, button.col-md-6 {
    width: 49%;
    float: left;
  }
  input.col-md-6:first-of-type, button.col-md-6:first-of-type {
    margin-right: 1%;
  }
  input.col-md-6:last-of-type, button.col-md-6:last-of-type {
    margin-left: 1%;
  }
}

.feature.boxed {
  padding: 32px;
  background: #f8f8f8;
}

@media all and (max-width:990px) {
  .feature.boxed {
    padding: 10px;
    background: #f8f8f8;
  }
}

/* End of Forms */

/* Footer & Section */

footer {
  background-color: #1c2331;
  color: #fff !important;
  padding: 72px 0;
}

.logo {
  width: 250px;
}

@media all and (max-width:766px) {
  .logo {
    width: 200px;
  }
}

@media all and (max-width:990px) {
  .logo {
    width: 200px;
  }
}

.widget {
  margin-bottom: 48px;
}

.widget .title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 12px;
}

.widget hr {
  margin-bottom: 12px;
}

.hr {
  border: none;
  border-top: 1px solid #fff;
  margin: 0 0 24px 0;
  margin-right: 20%;
}

@media all and (max-width:766px) {
  .hr {
    margin-left: 20%;
  }
}

.link-list {
  line-height: 32px;
}

.latest-updates {
  line-height: 24px;
}

.latest-updates a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
}

.latest-updates li {
  margin-bottom: 8px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.latest-updates .date {
  display: block;
  letter-spacing: 0;
  opacity: .8;
}

.latest-updates .date:hover {
  opacity: 1;
}

.number {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section, footer {
  padding: 96px 0;
  position: relative;
  overflow: hidden;
}

@media(max-width:766px) {
  section {
    padding: 80px 0;
  }
  footer img {
    width: 180px;
  }
  @media(min-width:768px) {
    footer img {
      width: 180px;
    }
  }
}

/*End of footer & Section */

/* Gen css */

.uppercase {
  font-weight: 400;
  text-transform: uppercase;
}

/* End of gen css */

/* Navigation */

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

.nav-link {
  color: #fff !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-color {
  background-color: #fff !important;
}

.navbar-nav li {
  padding-right: 20px;
}

.bg-dark {
  transition: 750ms ease;
  background-color: transparent !important;
}

.bg-dark.scrolled {
  background-color: #24355c !important;
}

.navbar-brand img {
  height: 50px;
}

@media all and (max-width:766px) {
  .bg-dark {
    background-color: transparent !important;
  }
  .navbar-brand img {
    height: 40px;
  }
}

/* End of navigation */

/* Image layers */

.first-about {
  /* image used */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)), url('5.0-About\ Us.jpg');
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 70vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 17%;
}

.first-order {
  /* image used */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)), url('order.jpg');
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 70vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 17%;
}

.first-contact {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)), url('contact.jpg');
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 70vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  padding-top: 17%;
}

@media(max-width:766px) {
  .first-about {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)), url('5.0-About\ Us.jpg');
    height: 70vh;
  }
  .first-about h2 {
    padding-top: 55%;
  }
  .first-contact h2 {
    visibility: hidden;
  }
}

/*End of Image layers */

/* Slider */

/* darkens the image */

.carousel-list:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.slider-text-middle-main {
  display: table;
  height: 100%;
  width: 100%
}

.slider-text-middle {
  display: table-cell;
  vertical-align: middle;
}

.carousel-inner img {
  width: 1270px;
  height: 550px;
}

.carousel-item p {
  font-family: 'Open Sans Condensed', sans-serif;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media all and (max-width:766px) {
  .carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
  }
}

/* End of Slider */

/* Owl */

.owl-title-big {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 40px;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 80%
}

@media all and (max-width:766px) {
  .carousel-inner img {
    width: 100%;
    height: 400px;
  }
  .owl-title-big {
    background: rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%
  }
}

/* Icon */

.zoom {
  transition: transform .2s;
  width: 100px;
  height: 100px;
  font-size: 50px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* End of Icon */

/* Diff */

.diff {
  font-family: 'Arapey', serif;
}

/* End of Diff */

/* Store */

.store {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)), url('mac1.jpg');
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 100vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 17%;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media all and (max-width:766px) {
  .middle {
    font-size: 20px;
  }
}

/* End of Store */

/* Error fonts */

#name_errror {
  font-family: 'Open Sans Condensed', sans-serif;
}

#phone-error {
  font-family: 'Open Sans Condensed', sans-serif;
}

#email_error {
  font-family: 'Open Sans Condensed', sans-serif;
}

#message_error {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* End of error fonts*/